:root{
    --color-primario: black;
    --line-style:  10px solid var(--color-primario);
}


body{
    user-select: none;
}
h1{
    text-align: center;
    font-size: 4rem;
    font-family: sans-serif;
    color: var(--color-primario);
}

#contenedorGrilla{
    display: grid;
    grid-template-columns: repeat(3,0fr);
    justify-content: center;
}

.cuadrado{
    color: var(--color-primario);
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    font-weight: bold;
}


.medio{
    border-left: var(--line-style);
    border-right: var(--line-style)
}

.arriba{
    border-bottom: var(--line-style);
}

.abajo{
border-top: var(--line-style);
}