:root{
    --color-primario: rgb(255, 255, 255);
    --line-style: 5px solid var(--color-primario);
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: url("imagenes/pizarron\ \(1\)\ \(1\).jpg");
    user-select: none;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    font-family: var(--font-family);
    font-size: 4rem;
    color: var(--color-primario);
}

#contenedorGrilla{
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;
}

.cuadrado{
    color: var(--color-primario);
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 8rem;
    transition: 50ms ease-in-out;
}

.arriba{
    border-bottom: var(--line-style);
}

.medio{
    border-left: var(--line-style);
    border-right: var(--line-style);
}

.abajo{
    border-top: var(--line-style);
}

.ganador{
    background-color: rgb(0, 0, 0);
}

dialog{
    text-align: center;
    min-width: 50vw;
    background-color: rgba(240, 248, 255, 0.23);
    padding: 5rem;
    border-radius: 10px;

}

dialog::backdrop{
    backdrop-filter: blur(10px);
}

dialog h2{
    font-family: var(--font-family);
    font-size: 3rem;
    color: aliceblue;
}

dialog button{
    background-color: black;
    color: aliceblue;
    font-size: larger;
    padding: 1rem;
    border-radius: 15px;
}
dialog button:hover{
    background-color: rgb(56, 56, 56);
}

